body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: darkcyan;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}
input{
  position: absolute;
}
.centerContainer{
  flex-basis: 200px;
  height: 700px;
  position: relative;
}
.buttonsContainer{
  flex-basis: 200px;
  height: 700px;
  position: relative;

}
.instructionsContainer{
  flex-basis: 200px;
  height: 700px;
  position: relative;


}
.center{
  width: 100%;
  align-self: center;
  position: relative;
  display: flex;
  flex-direction: column;
}
h1{
  font-size: 50px;
  font-family: 'Indie Flower';
  margin: 0;
  position: relative;
  align-self: center;
}
canvas{
  position: relative;
  align-self: center;
  top: -5px;
}

.buttons{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
.playButton{
  margin: 4px;
  border-radius: 8px;
  border: 1px solid #d4d4d4;
  font-size: 12px;
  width: 67px;
  background-color: white;
  position: relative;
  outline:none;
  align-self: center;
  order: 0;
}
.playButton:active{
  background-color: #c7c5c5;
}
.playButton:hover{
  cursor: pointer;
}
.clearButton{
  margin: 4px;
  order: 1;
  border-radius: 8px;
  border: 1px solid #d4d4d4;
  font-size: 12px;
  width: 67px;
  background-color: white;
  position: relative;
  outline:none;
  align-self: center;
}
.clearButton:active{
  background-color: #c0c0c0;
}
.clearButton:hover{
  cursor: pointer;
}
.timeInput{
  margin: 4px;
  order: 2;
  width: 130px;
  font-size: 12px;
  border-radius: 8px;
  left: 0px;
  font-family: 'Raleway';
  position: relative;
  align-self: center;
  border: 1px solid #d4d4d4;
}
.img{
  position: absolute;
  background-image: url('./icons/question.svg');
  background-size: 28px 30px;
  height: 30px;
  width: 28px;
  right: 30px;
  top: 15px;
  align-self: flex-start;
}
.img:hover{
  cursor: pointer;
}

.instructionsContainer:hover{
  cursor: default;
}
.instructions{
  position: relative;;
  padding: 8px;
  width: 210px;
  border: 1px solid aliceblue;
  box-shadow: 2px 1px 11px #505050;
  align-self: flex-end;;
  top: 73px;
}
.instructions span{
  font-family: 'Raleway';
  color: floralwhite;
}
.bld{
  font-weight: bold;
}
.footer{
  color: #a9a9a9;
  align-self: flex-end;
  right: 15px;
  bottom: 25px;
  position: absolute;
}
.footer span{
  font-family: 'Pacifico';
}
.footer a{
  color: #cecece;
  text-decoration: none;
}
.footer a:hover{
  text-decoration: underline;
}
