body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-color: darkcyan;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;
}
input{
  position: absolute;
}
h1{
  font-size: 50px;
  font-family: 'Indie Flower';
  margin: 0;
  width: 310px;
  left: 38%;
  position: absolute;
}
canvas{
  position: relative;
  top: 65px;
  left: 250.5px;
}
.playButtonContainer{
  position: relative;
}
.buttonsContainer{
  height: 40px;
  left: 92px;
  align-self: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.playButton{
  border-radius: 8px;
  border: 1px solid #d4d4d4;
  font-size: 12px;
  width: 67px;
  background-color: white;
  border: 0px;
  position: relative;
  /*left: 92px;*/
  outline:none;
  align-self: center;
  order: 0;
}
.playButton:active{
  background-color: #c7c5c5;
}
.playButton:hover{
  cursor: pointer;
}
.clearButton{
  order: 1;
  border-radius: 8px;
  border: 1px solid #d4d4d4;
  font-size: 12px;
  width: 67px;
  background-color: white;
  border: 0px;
  position: relative;
  /*left: 92px;*/
  outline:none;
  align-self: center;
  /*top: 10px;*/
}
.clearButton:active{
  background-color: #c0c0c0;
}
.clearButton:hover{
  cursor: pointer;
}
.img{
  position: absolute;
  background-image: url('./icons/question.svg');
  background-size: 60px 30px;
  height: 30px;
  width: 60px;
  right: 30px;
  top: 15px;
  align-self: flex-start;
}
.img:hover{
  cursor: pointer;
}
.img:hover::after{
  content: 'hello world';
  position: absolute;
  top: 55px;
  right: 15px;
  height: 30px;
  width: 30px;
  background-color: #9c9c9c;
}
.footer{
  color: #a9a9a9;
  align-self: flex-end;
  right: 15px;
  bottom: 15px;
  position: absolute;
}
.footer span{
  font-family: 'Pacifico';
}
.footer a{
  color: #cecece;
  text-decoration: none;
}
.footer a:hover{
  text-decoration: underline;
}
